@import '../../Features//GlogalScss//globalScss.scss';


.signUp-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  >.link{
    text-decoration: none;
    color: $mainColor;
}
}

.form-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: -2px 2px 10px 1px rgb(129, 165, 129);
  height: 100%;

  > h1 {
    border-radius: 0px 0px 70px 70px;
    border: 0px;
    border-bottom: solid 1px $mainColor;
    width: 30vw;
    height: 10vh;
    text-align: center;
    margin-top: -0.5px;
  }
  > .label-form {
    margin-bottom: 10px;
  }
.link{
  color:$mainColor;
    margin: 5%;
  padding: 12px;
  text-decoration: none;
}
  > .input-form {
    margin: 5%;
    padding: 12px;
    border: 0px;
    border-bottom: solid rgb(130, 197, 130) 1px;
  }

  > .button-form {
    background-color: $mainColor;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    border: none;
    border: $mainColor 0.5px solid;
    border-radius: 2px;
    height: 5vh;
    width: 20vw;
    margin-top: 8px;
    margin-bottom: 20px;

    &:hover {
      color: #000000;
      background-color: white;
    }

  }

  
}


