@import "../../Features//GlogalScss//globalScss.scss";

.books-root-card {
  margin-top: 20px;
  margin-left: 20px;

  
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  // height: 100vh;
  // width: 100vw;

}

.books-card-images {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
    // box-shadow: -3px 4px 5px 0px $mainColor;

  > .books-img {
    // box-shadow: -3px 4px 5px 0px $mainColor;
    width: 70%;
    height: 20%;
    // object-fit: cover;
  }

  > p {
    padding: 0px;
    margin:0px;
    width: 80%;

    >.books-title{
      color: rgb(32, 139, 56);
    }
  }
  

  > h4,h5 {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;

    
    >.books-title{
      color: rgb(32, 139, 56);;
    }
  }

  > button {
    background-color: $mainColor;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
    border: none;
    border: $mainColor 0.5px solid;
    border-radius: 2px;
    height: 5vh;
    width: 20vw;
    margin-top: 8px;
    margin-bottom: 10px;

    &:hover {
      color: #000000;
      background-color: white;
    }
  }

  >.read-moor{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
#one{
  text-decoration: none;
  color: rgb(32, 139, 56);
  font-size: small;
}